*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom:2px black solid ;
}
#nav-part1{
    font-size: large;
}
#nav-part2{
    font-size: 30px;
    font-weight: 500;
    margin-left: 17%;
}
#nav-part3{
    font-size: medium;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}
#nav-part3 h2{
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    border-left: 2px solid black;
}
#nav-part3 i{
    font-size: 25px;
    margin-right: 10px;
}
.support{
    background-color: #000;
    color: #fff;
    height: 100%;
}

#page1{
    height: calc(100% - 120px);
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
}
#page1-left{
    height: 100%;
    width: 50%;
    background-color: rgb(214, 120, 148);
    padding-top: 110px;
    padding-left: 200px;
}
.slide{
    transition: all 1s ease-in-out;
}
.slide-active{
    opacity: 100%;
}
.slide-hidden{
    opacity: 0;
}
#page1-right{
    height: 100%;
    width: 50%;
    background-color:#fff;
    text-align: center;
    position: relative;
    padding: 70px 0;
}

#page1-left .slide h1{
    font-size: 100px;
    margin-bottom: 90%;
    position: absolute;
    right: 30%;
    top: 50%;
    text-transform: uppercase;
}

#page1-right .slide img{
    height: 80%;
    width: 80%;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    object-fit: cover;
    border: 2px solid black;
    top: 10%;
    left: 10%;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    position: relative;
    display: flex;
}
#page2 .elem1{
    height: 100%;
    width: 35%;
    background-color: white;
    position: relative;
    padding: 20px;
    border: 1px black solid;
}
#page2 .elem1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60% 20% 60% 20%;
}
#page2 .elem2{
    height: 100%;
    width: 35%;
    background-color: white;
    position: relative;
    padding: 20px;

    border: 1px black solid;
}
#page2 .elem2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60% 20% 60% 20%;
}
#page2 .elem3{
    height: 100%;
    width: 35%;
    background-color:white;
    position: relative;
    padding: 20px;

    border: 1px black solid;
}
#page2 .elem3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60% 20% 60% 20%;
}
#page3{
    height: 80vh;
    width: 100%;
    background-color: rgba(243, 31, 31, 0.459);
}
#page3 h1{
    font-family: bureau;
    font-size: 7rem;
    font-weight: 600;
    line-height: .71;
    text-align: center;
    top: 50%;
    bottom: 50%;
    text-transform: uppercase;
    padding: 50px 50px;
}
#page3 p{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0px 60px;
    text-transform: uppercase;
}
#page3 button{
    width: 10%;
    height: 50px;
    font-size: 25px;
    margin-top: 90px;
    margin-left: 43%;
    border: 2px solid black;
    transition: all ease 0.3s;
    padding: 10px 10px;
    text-align: center;
    border-radius: 40% 40% 40% 40%;
}
#page3 button:hover{
    background-color: aqua;
}
#page4{
    height: 80%;
    width: 100%;
    background-color: brown;
    position: relative;
    display: flex;
}
#page4-left{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    right: 50%;
    padding-top: 10px;
    padding-left: 10px;
}
#page4-left h1{
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    left: 70%;
    text-align: left;
}
#page4-left button{
    border: #000 solid;
    border-radius: 30% 30% 30% 30%;
    padding-left: 10px;
    padding-right: 10px;

}
#page4-right{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 70px 0;
}
#page4-right img{
    height: 120%;
    width: 80%;
}
#page5{
    height: 130vh;
    width: 100%;
    background-color: yellow;
}
.page5-things{
    height: 180px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.page5-things h1{
    padding: 10px 10px;
    font-size: 44px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 30%;
}
.page5-diff-things{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.page5-diff-things h6{
    font-size: 20px;
    font-weight: 200;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
    line-height: 50px;
    font-family:'Times New Roman', Times, serif;
}

.animate{
    animation: slideshow infinite ease-in-out;
    animation-duration: 2000ms;
    animation-delay: 5000ms;
}
@keyframes slideshow {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}